Dataset at: https://www.kaggle.com/osmi/mental-health-in-tech-survey

Loading in dataset

In [ ]:
import pandas as pd
df = pd.read_csv("survey.csv")

In [ ]:
df

<br><br>Cleaning gender column

In [ ]:
df['Gender'].unique()

In [ ]:
genders = []
for gender in df['Gender']:
    if gender[0].lower() == 'f':
        genders.append("Female")
    elif gender[0].lower() == 'm':
        genders.append("Male")
    else:
        genders.append('Other')

In [ ]:
df['Gender'] = genders

In [ ]:
df

In [ ]:
df['Gender'].unique()

<br><br>Counting non-NA values per column

In [ ]:
df.count()

In [ ]:
df['self_employed'].unique()

In [ ]:
df['self_employed'].fillna('No', inplace=True)

In [ ]:
df.count()

<br><br>Dropping a column

In [ ]:
df = df.drop(columns=['comments'])
df

Dropping rows with NA's

In [ ]:
df = df.dropna(thresh=25) # row must have 25 non-NA values in order to be kept
df